@import '../../styles/variables';
.details {
  padding: 2rem;
  &__show-info {
    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;
  }
  &__episodes-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

@media (max-width: 768px) {
  .details {
    padding: 1.5rem;
  }
}

@media (max-width: 425px) {
  .details {
    padding: 0.75rem;
  }
}
